*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}

.container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 3px;
    max-width: 900px;
}

article{
    background-color: bisque;
    grid-column: span 4;
    min-height: 150px;

}

article.XS{
    grid-column: span 2;
}

article.XXS{
    grid-column: span 2;
}

article.S{
    grid-column: span 5;
}

article.M{
    grid-column: span 6;
}

article.L{
    grid-column: span 7;
}

